{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Study Completed
{% endblock %}

{% block content %}

    <p>
    Thank you again for participating in our experiment. 
    </p>

    <p>
    This experiment really was about how people roll dice. In particular, it aimed to test the idea that people roll dice harder when they are aiming for a higher number than they do when they are aiming for a lower number. 
    </p>

    <p>
    We are aware that talking about gambling can be a personal and sensitive topic. For help, support and advice on gambling please contact the National Council on Problem Gambling Helpline on 1-800-522-4700 or on <a href="https://www.ncpgambling.org/help-treatment/chat/" target="_blank">their website</a> (opens in a new tab). 
    </p>

 
 

        <p>Your completion code for this experiment is {{completion_code}}.  Please the completion link below to automatically be returned to prolific.</p>


        <br><a href="https://app.prolific.co/submissions/complete?cc={{completion_code}}">Return to Prolific</a> 
    </p>


{% endblock %}
