{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Participant Information Sheet
{% endblock %}

{% block content %}

    <div class="font-weight-bold">
        Study Title:
    </div>
    <br>
    <div class="col-10 pull-right">
        Using mobile devices to measure how people roll dice.
    </div>
    <br>
    <div class="font-weight-bold">
        Investigators:
    </div>
    <br>
    <div class="col-10 pull-right">
        Ty Hayes, Warwick Business School, University of Warwick<br />
        Lukasz Walassek, Department of Psychology, University of Warwick<br />
        Philip Newall, School of Psychological Science, University of Bristol<br />
        Matthew Browne, Department of Health and Life Science, Central Queensland University
    </div>


<br>
<p>This project is designed to investigate how people roll dice.</p>

<p>In this experiment you will be asked to roll digital dice using a mobile device.  You will be asked for access to the accelerometer sensor on your phone, and will need to shake your phone to roll the dice while we collect details of your motions via the accelerometer.  This task will be presented as a dynamic web page, and so you will not be required to download and/or install any app on your personal device.</p>

<p>All outcomes of the dice rolling task are random and are not predetermined in any way.</p>

<p>The study finishes with some questions about you and your gambling over the previous 12 months. Your final amount of bonus, including any potential winnings from the dice game, will be paid into your Prolific account within 72 hours of completing the study.</p>

<p>We will record details of your device such as make, model and operating system of your phone, and the browser that you used to access the experiment in order to ensure the correct functioning of the experiment, and we may use this data to see if these details affect the behaviour we are interested in.</p>

<p>We will also ask you your age and gender, and ask you to complete a brief questionnaire on your experiences related to gambling.</p>

<p>This research is funded by the Academic Forum for the Study of Gambling.</p>

<p>Your participation is completely voluntary. You can withdraw at any time, and for any reason, simply by closing your browser. However, we are only able to pay you if you complete the survey.</p></p>

<p>Research data will be anonymised as quickly as possible after data collection and it will not be possible to withdraw your data after this point. Identifiable information (i.e. your Prolific ID) will only be used to issue any bonus payments, and will be removed as soon as those payments have been made.</p>

<p>Data will be securely stored on University of Warwick computers and will be processed only for the purpose of scientific analysis.  Access to the data before it is anonymised will be restricted to Ty Hayes and Lukasz Walasek. Fully anonymised data will be shared in accordance with Open Science best practices as required by the funder of this research. A summary of results will be published via the funder and summaries may be presented at conferences and included in scientific publications. Data will be reviewed after a period of 10 years, in line with the University of Warwick data retention policy.</p>

<p>Please refer to the University of Warwick Research Privacy Notice which is available here: <a href="https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice">https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice</a> or by contacting the Legal Compliance Team at <a href="mailto:GDPR@warwick.ac.uk">GDPR@warwick.ac.uk</a>.</p>


<p>This study has been reviewed and given favourable opinion by the University of Warwick’s Humanities and Social Science Research Ethics Committee (HSSREC), and the Faculty of Science Research Ethics Committee at the University of Bristol (code: HSSREC 106/22-23).</p>


<p>If you require further information, please contact <a href="mailto:Tyson.Hayes@wbs.ac.uk">Tyson.Hayes@wbs.ac.uk</a>.

<br>

<h5>Consent to Participate</h5>
{% formfields %}

{% next_button %}

<div class="card">
<div class="card card-body">
<p>Any complaint about the way you have been dealt with during the study or any possible harm you might have suffered will be addressed.  Please address your complaint to the person below, who is a senior University of Warwick official entirely independent of this study:</p>

<p><strong>Head of Research Governance</strong><br>
Research & Impact Services<br>
University House<br>
University of Warwick<br>
Coventry<br>
CV4 8UW<br>
Email: <a href="mailto:researchgovernance@warwick.ac.uk">researchgovernance@warwick.ac.uk</a><br>
Tel: 024 76 575733</p>

<p>If you wish to raise a complaint on how we have handled your personal data, you can contact our Data Protection Officer and Information and Data Directory who will investigate the matter: <a href="mailto:DPO@warwick.ac.uk">DPO@warwick.ac.uk</a>/</p>

<p>If you are not satisfied with our response or believe we are processing your personal data in a way that is not lawful you can complain to the Information Commissioner’s Office (ICO).</p>
</div>
</div>


{% endblock %}{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Participant Information Sheet
{% endblock %}

{% block content %}

    <div class="font-weight-bold">
        Study Title:
    </div>
    <br>
    <div class="col-10 pull-right">
        Using mobile devices to measure how people roll dice.
    </div>
    <br>
    <div class="font-weight-bold">
        Investigators:
    </div>
    <br>
    <div class="col-10 pull-right">
        Ty Hayes, Warwick Business School, University of Warwick<br />
        Lukasz Walassek, Department of Psychology, University of Warwick<br />
        Philip Newall, School of Psychological Science, University of Bristol<br />
        Matthew Browne, Department of Health and Life Science, Central Queensland University
    </div>


<br>
<p>This project is designed to investigate how people roll dice.</p>

<p>In this experiment you will be asked to roll digital dice using a mobile device.  You will be asked for access to the accelerometer sensor on your phone, and will need to shake your phone to roll the dice while we collect details of your motions via the accelerometer.  This task will be presented as a dynamic web page, and so you will not be required to download and/or install any app on your personal device.</p>

<p>All outcomes of the dice rolling task are random and are not predetermined in any way.</p>

<p>The study finishes with some questions about you and your gambling over the previous 12 months. Your final amount of bonus, including any potential winnings from the dice game, will be paid into your Prolific account within 72 hours of completing the study.</p>

<p>We will record details of your device such as make, model and operating system of your phone, and the browser that you used to access the experiment in order to ensure the correct functioning of the experiment, and we may use this data to see if these details affect the behaviour we are interested in.</p>

<p>We will also ask you your age and gender, and ask you to complete a brief questionnaire on your experiences related to gambling.</p>

<p>This research is funded by the Academic Forum for the Study of Gambling.</p>

<p>Your participation is completely voluntary. You can withdraw at any time, and for any reason, simply by closing your browser. However, we are only able to pay you if you complete the survey.</p></p>

<p>Research data will be anonymised as quickly as possible after data collection and it will not be possible to withdraw your data after this point. Identifiable information (i.e. your Prolific ID) will only be used to issue any bonus payments, and will be removed as soon as those payments have been made.</p>

<p>Data will be securely stored on University of Warwick computers and will be processed only for the purpose of scientific analysis.  Access to the data before it is anonymised will be restricted to Ty Hayes and Lukasz Walasek. Fully anonymised data will be shared in accordance with Open Science best practices as required by the funder of this research. A summary of results will be published via the funder and summaries may be presented at conferences and included in scientific publications. Data will be reviewed after a period of 10 years, in line with the University of Warwick data retention policy.</p>

<p>Please refer to the University of Warwick Research Privacy Notice which is available here: <a href="https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice">https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice</a> or by contacting the Legal Compliance Team at <a href="mailto:GDPR@warwick.ac.uk">GDPR@warwick.ac.uk</a>.</p>


<p>This study has been reviewed and given favourable opinion by the University of Warwick’s Humanities and Social Science Research Ethics Committee (HSSREC), and the Faculty of Science Research Ethics Committee at the University of Bristol (code: HSSREC 106/22-23).</p>


<p>If you require further information, please contact <a href="mailto:Tyson.Hayes@wbs.ac.uk">Tyson.Hayes@wbs.ac.uk</a>.

<br>

<h5>Consent to Participate</h5>
{% formfields %}

{% next_button %}

<div class="card">
<div class="card card-body">
<p>Any complaint about the way you have been dealt with during the study or any possible harm you might have suffered will be addressed.  Please address your complaint to the person below, who is a senior University of Warwick official entirely independent of this study:</p>

<p><strong>Head of Research Governance</strong><br>
Research & Impact Services<br>
University House<br>
University of Warwick<br>
Coventry<br>
CV4 8UW<br>
Email: <a href="mailto:researchgovernance@warwick.ac.uk">researchgovernance@warwick.ac.uk</a><br>
Tel: 024 76 575733</p>

<p>If you wish to raise a complaint on how we have handled your personal data, you can contact our Data Protection Officer and Information and Data Directory who will investigate the matter: <a href="mailto:DPO@warwick.ac.uk">DPO@warwick.ac.uk</a>/</p>

<p>If you are not satisfied with our response or believe we are processing your personal data in a way that is not lawful you can complain to the Information Commissioner’s Office (ICO).</p>
</div>
</div>


{% endblock %}
